<section class="about-me">
  <p>
    <br />
    <a href="http://www.sencha.com/forum/showthread.php?102357-Extremely-Easy-Ext.Direct-integration-with-PHP"><img src="/images/jb_gravatar.jpg"></a>
    <a href="http://pt-br.facebook.com/joao.bruni"><img src="/images/jb_facebook.jpg"></a>
    <a href="http://www.youtube.com/user/sentindobem"><img src="/images/jb_google.jpg"></a>
    <a href="http://en.wikipedia.org/wiki/User:Jbruni"><img src="/images/jb_twitter.jpg"></a>
    <a href="http://en.wikipedia.org/wiki/White_hat_(computer_security)"><img src="/images/jb_blog.jpg"></a>
  </p>
</section>
