<ul class="main-navigation">
  <li><a href="{{ root_url }}/2014/06/15/splendsome/">Desenvolvimento Web</a></li>
  <li><a href="{{ root_url }}/2014/01/05/evh-educacao-em-valores-humanos/">Valores Humanos</a></li>
  <li><a href="{{ root_url }}/2013/12/30/um-novo-sistema-bancario/">Liberdade Financeira</a></li>
  <li><a href="{{ root_url }}/2013/12/19/sathya-sai-baba/">Sathya Sai Baba</a></li>
  <li><a href="{{ root_url }}/2013/12/23/santo-daime-ayahuasca/">Santo Daime</a></li>
  <li><a href="{{ root_url }}/categorias/musica/">Música</a></li>
  <li><a href="{{ root_url }}/2014/01/01/aurora-de-um-novo-porvir/">Aurora de um Novo Porvir</a></li>
</ul>
